<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProfile name="dev">
    <include resource="logging/logback-dev.xml"/>
  </springProfile>

  <springProfile name="test">
    <include resource="logging/logback-test.xml"/>
  </springProfile>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>